@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    background-color: aliceblue;
}

.container{
    padding: 20px;
    height:525px;
    width: 345px;
    background: #3a3e4a;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.container .search-box{
    height: 50px;
    width: 100%;
    background-color: #1a202a;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.container .search-box i{
    color: #808080;
}

.container .search-box .userInput{
    all: unset;
    height: 50px;
    width: 250px;
    /* border: 1px solid red; */
    margin-left: 13px;
    color: #808080;
    border-radius: 30px;
}

.container .weather-info{
    height: 295px;
    padding: 10px;
    background: linear-gradient(135deg, #62b8f5, #4475ef);
    border-radius: 15px;
    margin-top: 20px;
}

.container .weather-info .weather-location{
    text-align: center;
    color: #fff;
    font-size: 14px;
    position: relative;
    top: 10px;
    font-weight: 400;

}

.container .weather-info .weather-location{
    font-size: 13px;
}

.container .weather-info .weather-img{
    height: 100px;
    width: 100px;
    /* border: 1px solid red; */
    margin-top: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .weather-info .weather-img img{
    height: 100%;
    width: 100%;
}

.container .weather-info .temp{
    color: #fff;
    font-size: 45px;
    position: absolute;
    left: 155px;
    margin-top: -103px;
}

.container .weather-info .weather_main_1{
    color: #fff;
    font-weight: 300;
    position: absolute;
    left: 158px;
    font-size: 13px;
    margin-top: -44px;

}

.container .weather-info .other-details{
    height: 135px;
    width: 100%;
    border-top: .5px solid #fff;
    margin-top: 0px;
}

.container .weather-info .other-details div{
    height: 50px;
    width: 85px;
   
    float: left;
    white-space: nowrap;
    text-align: center;
    margin-left: 7px;
    margin-top:6px ;
    color: #fff;

}

.container .weather-info .other-details div span{
    font-size: 13px;
}

.container .weather-info .other-details div p{
    font-size: 11px;
    margin-top: 2px;
}

.container .forecast-box{
    height: 100px;
    /* border: 1px solid red; */
    margin-top: 17px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column ;
    overflow-x:auto ;
    cursor: pointer;
}

.container .forecast-box::-webkit-scrollbar{
    display: none;
}

.container .forecast-box .card{
    height: 100px;
    width: 95px;
    background: #1a202a;
    border-radius: 15px;
    color: #fff;
    margin-left: 10px;
    position: relative;
    left: -10px;
}

.container .forecast-box .card .forecast-date{
    font-size: 11px;
    margin-top: 10px;
    text-align: center;
}

.container .forecast-box .card .forecast-img{
    height: 40px;
    width: 40px;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 4px;
}

.container .forecast-box .card .forecast-img img{
    height: 100%;
    width: 100%;
}

.container .forecast-box .card .forecast-temp{
    text-align: center;
    margin-top: 2px;
}